body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    padding: 2rem;
}

section {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}